.gallery-container {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  gap: 10px;
  max-width: 500px; /* Set this to match the image width */
}

.gallery-image {
  border-radius: 5px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  transition: transform 0.2s;
}

.gallery-image:hover {
  transform: scale(1.05);
}

.gallery-button {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent black */
  color: white;
  border: none;
  border-radius: 50%;
  width: 35px;
  height: 35px;
  cursor: pointer;
  font-size: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 0.2s, transform 0.2s;
}

.gallery-button:hover {
  background-color: rgba(0, 0, 0, 0.7);
  transform: scale(1.1);
}

.gallery-button.previous {
  left: 10px;
}
.gallery-button.next {
  right: 10px;
}
